/* Colours */
/* #7D1935  #4A96AD  #F5F3EE  #FFFFFF */
body,html{
	background-color: #FFFFFF;
}

#header,#footer{
	background: #7D1935;
}

#sidebar,#wrap{
	background: #4A96AD;
}

#content{
	background: #F5F3EE;
}



/* Box Structure */
#header{
	padding:10px;
	margin:0;
}
#wrap{
	width:1024px;
	margin:0 auto;
}

#content{
	width:830px;
	height:600px;
	padding:10px;
	float:right;
	overflow:auto;
}

#sidebar{
	width:130px;
	padding:10px;
	float:left;
}

#footer{
	text-align:right;
	clear:both;
}

/* Text Colors */
h1 {
	color: #F5F3EE;
	margin:0;
	font-family: "Trebuchet MS";
	font-size: 2.5em;
}
h2 {
	color: #333333;
	font-family: "Trebuchet MS";
	font-size: 1.8em;
}
body {
	color: #333333;
	font-family: "Trebuchet MS";
	font-size: 1.2em;
}


/* Link Settings*/
a:link{
	color: #F5F3EE;
	text-decoration:none;
}

a:visited{
	color: #F5F3EE;
	text-decoration:none;
}

a:hover{
	color: orange;
	text-decoration:none;
}

a:active{
	text-decoration:none;
}
